<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>Fruits Index Page</h1>
        <ul>
            <% for(let i =0; i < fruits.length; i++){ %>
                <li>
                    <a href="/fruits/<%=i%>">
                        <%=fruits[i].name%>
                    </a>
                </li>
            <% } %>
        </ul>
        <nav>

        </nav>
    </body>
</html>
