<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fruits Index Page</title>
</head>
<body>
    <h1>Fruits</h1>
    <ul>
        <li><a href="/fruits/0"><%= fruits[0].name.toUpperCase() %></a></li>
        <li><a href="/fruits/1"><%= fruits[1].name.toUpperCase() %></a></li>
        <li><a href="/fruits/2"><%= fruits[2].name.toUpperCase() %></a></li>
    </ul>
</body>
</html>