<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Planet Index Page</title>
</head>
<body>
    <h1>Scientists</h1>
    <ul>
    <% for (let i = 0; i < scientists.length; i++) { %>
        <li><a href="/planet/<%=i%>"><%= scientists[i].name %></a> <br /> 
        <form action="/planet/<%= i %>?_method=DELETE" method="POST">
        <input type="submit" value="DELETE">
        </form>
        <p><a href="/planet/<%= i %>/edit">Edit</a></p>
        </li>
   <% } %>
    </ul>
    <a href="/planet/new"><button>Add New Scientist</button></a>
    <form action="/planet/?_method=DELETE" method="POST">
    <input type="submit" value="DELETE DATABASE">
    </form>
</body>
</html>