<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Route</title>
</head>
<body>
    <h1>Add New Scientist</h1>
    <form action="/planet" method="POST">
        <p><label for="name">Name:</label><input id="name" type="text" name="name" /></p>
       <p><label for="description">Description:</label> <input id="description" type="text" name="description" /></p>
       <p><input type="submit" value="ADD"></p>
    </form>
</body>
</html>