div {
  border: 1px solid #a1ab2c;
}

#container {
  width: 608px;
}

#color-palette, #my-palette {
  display: inline-block;
  width: 300px; height: 500px;
  overflow: hidden;
}

.square {
  display: inline-block;
  width: 8px; height: 8px;
  cursor: pointer;
}
