<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Bakery Item Form</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body class="center-align container">
    <h1>Biscoff Bakery</h1>
    <h4>Add new item:</h2>
    <form action="/bakedgoods/" method="POST">
        Name: <input type="text" name="name" /><br />
        Price: <input type="text" name="price" /><br />
        Image: <input type="text" name="image" /><br />
        <input type="submit" value="Create New Bakery Item">
    </form>
</body>
</html>