<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Log Page</title>
</head>
<body>
    <h1>Edit Log</h1>
    <form action="/logs/<%=id%>?_method=PUT" method="POST">
    <label for="title">Title:</label>
    <input type="text" name="title" id="title" required placeholder="<%=log.title%>"/>
    
    <label for="entry">Entry:</label>
    <input type="text" name="entry" id="entry" required placeholder="<%=log.entry%>"//>
    
    <label for="shipIsBroken">Is Ship Broken?:</label>
    <input type="checkbox" name="shipIsBroken" id="shipIsBroken"
    <% if(log.shipIsBroken ===  true) { %>
        checked
    <% } %>
    />
    <input type="submit" value="UPDATE LOG">
    </form>
</body>
</html>