<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Captains Logs Homepage</title>
</head>
<body>
    <h1>Captain's Logs</h1>
    <h5><a href="/logs/new">Add New Log Entry</a></h5>
    <ul>
        <% for(let i = 0; i < logs.length; i++) { %>
            <li>
                <a href="/logs/<%=logs[i].id%>"><%= logs[i].title %></a>
                <form action="/logs/<%=logs[i].id%>?_method=DELETE" method="POST">
                    <input type="submit" value="DELETE">
                </form>
                <a href="/logs/<%=logs[i].id%>/edit">EDIT</a>
            </li>
        <% } %>
    </ul>
</body>
</html>