<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Log Page</title>
</head>
<body>
    <h1>Add New Log</h1>
    <form action="/logs" method="POST">
    <label for="title">Title:</label>
    <input type="text" name="title" id="title" />
    
    <label for="entry">Entry:</label>
    <input type="text" name="entry" id="entry" />
    
    <label for="shipIsBroken">Is Ship Broken?:</label>
    <input type="checkbox" name="shipIsBroken" id="shipIsBroken" />

    <input type="submit" value="ADD NEW LOG">
    </form>
</body>
</html>